@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.luckiest-guy-regular {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
}
  
* {
    
    margin: 0;
    padding: 0;
}

body {
    font-family:'Open Sans', sans-serif;
    background-color: #FFF;
    margin: auto;
}

body img {
    max-width: 100%;
    height: auto;
}

/*************
HEADER
**************/

header {
    text-align: center;
    font-family: "Luckiest Guy", sans-serif;
    background: url(../img/Header\ Background.svg) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px;
    color: white;
}

header h1{
    padding: 20px;
    text-transform: uppercase;
    text-align: start;
    letter-spacing: 3px;
}

header p {
    margin-bottom: 20px;
    letter-spacing: 1px;
}

header button {
    display: inline;
    width: 100%;
    padding: 10px;
    margin: 5px;

    font-size: 1.2em;
    border-radius: 30px;

    cursor: pointer;
}

header button + button {
    background-color: #23272A;
    color: white;
}

/*************
MAIN
**************/

main p {
    margin-top: 10px;
    font-size: 1.3em;
}

article {
    padding: 10%;
}

main .find {
    background-color: #F0F0F0;
}

main .tecnology {
    background-color: #F0F0F0;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
    padding: 40px;
    background-color: #23272A;
}

@media screen and (max-width: 768px) and (max-width: 1919px) {
    p{
        font-size: 1.5em;
    }
    
    header {
        padding: 10%;
    }

    article {
        padding: 10%;
    }
}

@media screen and (min-width: 1920px) {

    header {
        border: solid red 1px;
        padding: 5% 30%;
    }

    header h1 {
        width: 30%;
        display: inline-block;
    }

    header button {
        display: inline-block;
        width: 40%;
    
    }

    article {
        padding: 5% 25%;
        border: solid red 1px;
        display: flex;
        flex-direction: row;
    }
}